<link rel="stylesheet" href="/css/error.css" />

<div class="flex flex-col items-center min-h-[60vh] py-8">
  <div class="error-container">
    <h1 class="text-3xl font-bold text-indigo-700 mb-8">오류가 발생했습니다</h1>
    <p><%= message %></p>
  </div>
</div>

<!-- 레이아웃 사용할 때
contentFor('content'): 페이지의 주요 콘텐츠를 레이아웃의 특정 위치에 삽입
contentFor('styles'): 페이지별로 필요한 CSS 파일을 레이아웃의 head 태그 안에 삽입
contentFor('scripts'): 페이지별로 필요한 JavaScript 파일을 레이아웃의 body 끝부분에 삽입
-->
