<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Guard</title>
    <link rel="stylesheet" href="/stylesheet/index.css" />
  </head>
  <body>
    <main class="main-content">
      <section class="food-section">음식 관련 컨텐츠</section>
      <section class="user-section">사용자 관련 컨텐츠</section>
      <section class="group-section">그룹 관련 컨텐츠</section>
    </main>
  </body>
</html>
