<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/layout.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="nav-container">
        <div class="logo">
          <h1><a href="/">Food Guard</a></h1>
        </div>
        <ul class="nav-menu">
          <li><a href="/foods">음식</a></li>
          <li><a href="/users">사용자</a></li>
          <li><a href="/groups">그룹</a></li>
        </ul>
      </nav>
    </header>

    <main class="main"><%- body %></main>

    <footer class="main-footer">
      <p>&copy; 2025 - food guard. All rights reserved.</p>
    </footer>
  </body>
</html>
