<div class="flex flex-col items-center min-h-[60vh] py-8">
  <h1 class="text-3xl font-bold text-indigo-700 mb-8 text-center">
    환영합니다 <span class="text-green-600 font-bold"><%= nickname %></span>님!
  </h1>
  <hr />
  <br /><br />

  <div class="text-center">
    <a class="text-red-600" href="/users/delete"><b>회원탈퇴</b></a>
  </div>
</div>