<h1 class="text-center text-2xl">USER INDEX</h1>
<hr />
<br /><br />

<div class="text-center">
  <a class="text-green-700" href="/foods"><b>내 음식 보기</b></a
  ><br />
  <a class="text-red-600" href="/users/delete"><b>회원탈퇴</b></a>
</div>
