<div class="min-h-[70vh] flex flex-col justify-center items-center">
  <h1 class="text-center text-2xl">
    환영합니다 <span class="text-indigo-400 font-bold"><%= nickname %></span>님!
  </h1>
  <hr />
  <br /><br />

  <div class="text-center">
    <a class="text-red-600" href="/users/delete"><b>회원탈퇴</b></a>
  </div>
</div>
